ul {
  padding: 0px;
}


.question_list {
  width: 90%;
  height: 280px;
  margin: 0px 5%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question_top, 
.question_bar {
  display: flex;
  justify-content: space-between;
}

.question_bar {
  margin-bottom: 15px;
}

.add_question {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 10px;
}

.question {
  width: 60%;
  margin-left: 10px;
}

.index {
  margin-right: 10px;
}

.arrow {
  cursor: pointer;
}

.delete {
  cursor: pointer;
  border: none;
  background-color: rgb(86, 86, 255);
  color: white;
  height: 35px;
  width: 120px;
  border-radius: 5px;
}

.question_title {
  text-align: left;
  font-size: 18px;
}

.question_line {
  height: 1px;
  background-color: black;
}

.options_list {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 8px;
  flex-wrap: wrap;
}

.correct {
  color: rgb(2, 203, 2);
}

.incorrect,
.correct {
  text-align: left;
  list-style: none;
}

.option,
.selected {
  margin: 0px;
  list-style: none;
  cursor: pointer;
  margin-right: 8px;
}

.selected {
  color: rgb(2, 203, 2);
}

.option_input {
  width: 100%;
}

.add_button {
  border: none;
  background-color: rgb(86, 86, 255);
  color: white;
  height: 25px;
  width: 110px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 3px;
}

.form_add {
  margin-top: 5px;
}

.dropdown {
  width: 200px;
  margin-left: 55%;
  height: 40px;
}

.import_label {
  margin-left: 55%;
}

.calendars {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendars {
  max-width: 500px;
  height: 300px;
  margin-bottom: 15px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.schedule {
  max-width: 500px;
  height: 300px;
}

.date_picker {
  max-width: 300px;
}

.video_title {
  margin: 0px;
  margin-left: 22px;
}

.question_submit {
  margin-left: 30%;
  margin-top: 20px;
  width: 40%;
}

.question_submit_btn {
  width: 100%;
}
