.filter_line {
  display: flex;
  margin-top: 21px;
}

.filter_label {
  margin-right: 10px;
  margin-top: 3px;
}

.tutorial_list_line {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 80%;
}

.video_player {
  width: 94%;
  max-width: 500px;
}

.video_upload {
  margin-left: 21px;
  width: 60%;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #f7f7f7;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.create_tutorial {
  display: flex;
}

.divider {
  height: 1px;
  background-color: black;
  margin: 0px 20px;
  margin-bottom: 10px;
}

.question_card {
  margin-left: 20px;
  margin-bottom: 20px;
}

.calendars {
  margin: 50px;
}

.image_preview {
  width: 200px;
}