.filter_line {
  display: flex;
  margin-top: 21px;
}

.filter_label {
  margin-right: 10px;
  margin-top: 3px;
}

.tutorial_list_line {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  width: 80%;
  height: 350px;
}

.video_player {
  width: 94%;
  max-width: 500px;
}

.video_upload {
  margin-left: 21px;
  width: 60%;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #f7f7f7;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.create_tutorial {
  display: flex;
}

.divider {
  height: 1px;
  background-color: black;
  margin: 10px 20px;
}

.question_card {
  margin: 20px;
  margin-bottom: 10px;
}

.calendars {
  margin: 50px;
}

.image_preview {
  width: 200px;
}

.button_line {
  display: flex;
  margin-left: 30px;
}

.quiz_line {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.schedule_line{
  margin: 20px 80px;
}

.question_add {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.X {
  height: 25px;
}

.question_options {
  margin-top: 10px;
}

.tutorial_title {
  display: flex;
  justify-content: center;
}

.tutorial_card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
